html,body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
body{
    background-color: #F4F7F6;
}
:root {
      --header-height:60px;
      --white: #F4F4F4; 
      --light-blue: #00B7B5; 
      --light-invisble-blue:rgba(0, 183, 181, 0.1);
      --midle-blue: #018790;
      --dark-blue: #005461; 
      --gray: rgb(96,96,96);
      --light-gray:#A3AED0;
}

.alert{
    position: fixed;
    top: 10px;
    left: 0;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;

}

