header{
    position: fixed;
    top: 0;
    margin-bottom: 0px;
    height: var(--header-height);
    background-color: var(--);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    z-index: 90;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05)
}


#left{
    margin-left: 03%;
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 50px;
    display: flex;
    cursor: pointer;

}

#right{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5vw;
    
    align-items: center;
    margin-right: 3%;
}

#search{
    cursor: pointer;
}
#header img:hover{
    width: 45px;
}



#notification img{
    cursor: pointer;
    position: relative;
}
#notification p{
    position: absolute;
}

#profil{
    cursor: pointer;
    display: flex;
    width: auto;
    align-items: center;
    flex-direction: row;
}

#profil-img{
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#profil p{
    color: var(--gray);
    margin-left: 10px;
    font-size: 20px;
}
#profil-arrow{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}