main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    height: 100vh;
}

#login-left {
    flex: 3; 
    overflow: hidden;
}

#login-left img {
    width: 100%;
    height: 100%;
}

#login-right {
    flex: 2; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: white;
    padding: 40px 20px;
    padding-bottom: 16px;
    overflow-y: auto;
}

#login {
    width: 100%;
    max-width: 450px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    color: var(--dark-blue);
    font-size: 45px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

#text-Prenom,#text-Nom ,#text-Username,#text-Email,#text-Password,#text-Description{
    margin: 0;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--dark-blue);
}

input {
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid var(--light-gray);
    background-color: var(--white);
    color: var(--gray);
    outline: none;
    transition: 0.3s;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-family: inherit;
}

input:focus {
    border-color: var(--light-blue);
    background-color: var(--pure-white);
    box-shadow: 0 0 0 4px var(--light-invisble-blue);
}

#input-row {
    display: flex;
    gap: 15px;
}

#input-two {
    flex: 1;
}


#submit-button {
    width: 100%;
    padding: 15px;
    background-color: var(--light-blue);
    color: var(--white);
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

#submit-button:hover {
    background-color: var(--midle-blue);
}

#middle-login {
    text-align: center;
    color: var(--light-gray);
    font-size: 0.9rem;
    margin: 10px 0 5px 0;
}

#side a {
    text-decoration: none;
    color: var(--midle-blue);
    font-weight: 500;
}

#side a:hover {
    color: var(--dark-blue);
    text-decoration: underline;
}

@media (max-width: 768px) {
    #login-left {
        display: none; 
    }
    #login-right {
        align-items: flex-start;
    }
}